*{font-family: 'Courier New', Courier, monospace;}
body {
    background-color: #000;
}
h1 {
    color: #9b9b9b;
    border-bottom: 1px solid #CCC;
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 14px 0;
    padding: 5px;
    text-align: center;
}
h2 {
    color: #9b9b9b;
    border-bottom: 1px solid #CCC;
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 14px 0;
    padding: 5px;
    text-align: center;
}
p {
    font-size: 1.2em;
    color: #9b9b9b;
}
button {
    font-size: 1.2em;
    color: #000;
    background-color: #FFF;
    border: 1px solid #CCC;
    padding: 5px;
    border-radius: 5px;
    transition: all .4s ease-in-out;
    margin: 0 auto;
}
button:hover {
    background-color: #CCC;
    transform: translateY(-1px);
}
img {
    border: 5px solid rgb(133, 126, 182);
    border-radius: 5px;
}
table {
    color: #9b9b9b;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #CCC;
}
th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid #CCC;
}
#antimatter {
    background-color: #000;
    border: 1px solid #1f1f1f;
    padding: 5px;
}
#ex {color: #ff0000;}
#biglol {font-size: 1.25em;}
